* {
  margin: 0;
  padding: 0;
}

.loader {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 2;
  background: #fff url(./gif/Bounce-Bar-Preloader-1.gif) no-repeat center center;

}

header {
  text-align: center;
  font-size: 20px;
  background-color: rgb(178, 178, 226);
  color: white;
  width: 100vw;
  height: 60px;
  line-height: 60px;
  position: sticky;
  top: 0;
  z-index: 2;

}

header>h1 {
  text-shadow: 2px 2px red;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 30px;
  overflow: hidden;
  background-color: bisque;

}

img {
  text-align: center;
  border: 5px solid black;
  margin: 5px 12px;
  width: 210px;
  height: 320px;
  cursor: pointer;
  overflow: hidden;
}

.videos {
  text-align: center;
}


footer {
  text-align: center;
  font-size: 20px;
  background-color: rgb(178, 178, 226);
  color: black;
  width: 100vw;
  height: 30px;
  line-height: 30px;
  position: fixed;
  bottom: 0;

}

@media screen and (max-width:480px) {
  header {
    text-align: center;
    font-size: 10px;
    height: 30px;
    line-height: 30px;
  }
     
  img {
    border: 2px solid black;
    margin: 5px calc((100vw - 220px)/2);

  }
  
  .videos {

    text-align: center;
  }
  .videos>iframe{
    width: 300px;
    height: 150px;
  }
    
  footer {
    text-align: center;
    font-size: 10px;
    height: 15px;
    line-height: 15px;

  }

}
@media screen and (min-width:481px) and  (max-width:768px) {
  header {
    text-align: center;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 5px calc((100vw - 700px)/2);
    padding-bottom: 30px;
    overflow: hidden;
    background-color: bisque;
  
  }
  
  img {
    text-align: center;
    border: 3px solid black;
    margin: 5px 10px;
    width: 160px;
    height: 210px;
    cursor: pointer;
    overflow: hidden;
  }
  
  
  .videos>iframe{
    width: 300px;
    height: 150px;
  }
    
  footer {
    text-align: center;
    font-size: 10px;
    height: 15px;
    line-height: 15px;

  }

}